# .gitignore

# Jekyll-spezifische Ordner
_site/
.jekyll-cache/
.jekyll-metadata

# Bundler-spezifische Dateien
.bundle/

# Systemdateien
.DS_Store
Thumbs.db

# Sass/SCSS Cache
.sass-cache/

# local scripts
/scripts

# backup files
*.bak