/* assets/css/style.css */
body {
    font-family: 'Inter', sans-serif;
}

/* Define colors for light mode (default) */
:root {
    --accent-color: #0891b2;
    --accent-color-darker: #0e7490;
    --accent-color-pale: #ecfeff;
    --accent-color-bg: #F9FAFB; /* bg-grey-50 */
    --accent-color-headline: #1E293B;
    --accent-color-txt: #475569;
	--bg-post-pale: #FFFFFF;
	--color-text: #1f2937;
    --color-text-light: #6b7280;
    --color-heading: #0f172a;
    --color-heading-light: #374151;
    --color-inline-code-bg: #e5e7eb;
    --color-inline-code-text: #1f2937;
    --color-code-block-bg: #f3f4f6;
    --color-code-block-text: #1f2937;
    --color-link: #3b82f6; /* blue for links */
}

/* Override colors for dark mode */
.dark {
    --accent-color-pale: #1e293b;
    --accent-color-bg: #0F172A;
    --accent-color-headline: #FFFFFF;
    --accent-color-txt: #94A3B8;
	--bg-post-pale: #1e293b; /* bg-slate-800 */
	--color-text: #e5e7eb;
    --color-text-light: #9ca3af;
    --color-heading: #f4f6f9;
    --color-heading-light: #e5e7eb;
    --color-inline-code-bg: #374151;
    --color-inline-code-text: #e5e7eb;
    --color-code-block-bg: #1f2937;
    --color-code-block-text: #f4f6f9;
    --color-link: #60a5fa; /* Helleres Blau für Links */
}

.nav-link.active {
            font-weight: 700;
        }
		
/* --- Typografie Styles --- */
.prose h1, .prose h2, .prose h3, .prose h4 {
    color: var(--color-heading);
    font-weight: 700;
    margin-bottom: 1rem;
}

.prose h1 {
    font-size: 2.25rem; /* 4xl */
}

.prose h2 {
    font-size: 1.875rem; /* 3xl */
}

.prose h3 {
    font-size: 1.5rem; /* 2xl */
}

.prose p {
    color: var(--color-text);
    margin-bottom: 1.5rem;
}

.prose ul {
    list-style-type: disc; /* unordered list */
    list-style-position: outside;
    color: var(--color-text);
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.prose ol {
    list-style-type: decimal; /* ordered list */
    list-style-position: outside;
    color: var(--color-text);
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

/* --- Code Styles --- */
.prose code {
    background-color: var(--color-inline-code-bg);
    color: var(--color-inline-code-text);
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    font-family: monospace;
}

.prose pre {
    background-color: var(--color-code-block-bg);
    color: var(--color-code-block-text);
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
    font-family: monospace;
    margin-bottom: 1.5rem;
}

.prose hr {
    border: none;
    border-top: 1px solid var(--accent-color-headline);
    margin: 0 0 1.5rem 0; 
}

/* --- Link Styles --- */
.prose a {
    color: var(--color-link);
    text-decoration: underline;
    text-underline-offset: 2px;
}

.prose a:hover {
    text-decoration: none;
}

.prose figure {
    /* background-color: var(--color-code-block-bg); */
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left; 
}

.prose figure img {
    /* Styles für pictures in figure */
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.prose figure figcaption {
    /* styles for figcaption */
    color: var(--color-text-light);
    font-style: italic;
    font-size: 0.875rem; /* sm */
    margin-top: 0.75rem;
    line-height: 1.4;
}
